.card_style{
    cursor: pointer;
    transition: .3s;
}
 
  .smalltrash{
      display: none;
  }
  
  
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  
  .iteamsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
      padding: 15px;
      text-align: left;
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 20rem;
      height: 15rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }
  
  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media (max-width:450px){
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
      .items_img img{
          width: 16rem;
      }
      
  }
  .search-filter-dropdown{
     width: 60%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
  }
  .search{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 0px 2px;
    border-radius: 5px;
  }
  
  .search > input{
     border: none;
     outline: none;
  }
  .search > i{
    color: grey;
    cursor: pointer;
  }
  .filter > button{
     border: none;
     background-color: rgb(25,135,84);
     border-radius: 6px;
     color: white;
     padding: 8px;
  }